@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --lightgrey: rgb(199, 199, 199);
  --midgrey: rgb(141, 141, 141);
  --darkgrey: rgb(80, 80, 80);
  --mainfont: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: var(--mainfont);
}

.darkgrey {
  color: var(--darkgrey);
}

/* Nav */
.nav {
  border-bottom: 1px solid var(--lightgrey);
  padding: 10px 20px;
}

.nav a {
  text-decoration: none;
}

.navlogo {
  border-right: 1px solid var(--lightgrey);
  color: var(--midgrey);
  font-size: 1.5em;
  padding: 0 20px;
}

.navlinks {
  font-size: 1.5em;
  padding-left: 20px;
}

.active {
  color: var(--darkgrey);
}

.not-active {
  color: var(--lightgrey);
}

/* Search Bar */
.searchbar-holder {
  margin: 5% auto;
  width: 70%;
}

.searchbar {
  border: none;
  border-bottom: 1px solid var(--lightgrey);
  color: var(--darkgrey);
  font-size: 2em;
  width: 100%;
}

.searchbar:focus {
  outline: none;
}

::placeholder {
  color: var(--lightgrey);
  font-family: var(--mainfont);
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.eachimage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 1%;
  width: 23%;
}

.heartbox {
  color: rgba(255, 0, 55, 0);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.3s;
}

.heartbox:hover {
  color: rgba(255, 0, 55, 0.514);
}

.heartboxfav{
  color: rgba(255, 0, 55, 0.856);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 1000px) {
  .eachimage {
    height: 300px;
    margin: 2%;
    width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  .eachimage {
    height: 300px;
    margin: 2% auto;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .eachimage {
    height: 300px;
    margin: 2% auto;
    width: 95%;
  }
}

/* Loading - Source code from https://codepen.io/ahmadbassamemran/pen/zQKqba */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--darkgrey);
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: var(--lightgrey);
  }
  50% {
    transform: translateY(50px);
    background-color: var(--midgrey);
  }
  100% {
    transform: translateY(0px);
    background-color: var(--darkgrey);
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

.linkholder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.linkholder a {
  color: #6155f6;
}

/* Error */
.errorholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.error {
  border-right: 1px solid var(--lightgrey);
  font-size: 6em;
  padding: 0 30px;
}

.err-msg {
  margin: 0 30px;
}

@media only screen and (max-width: 650px) {
  .errorholder {
    flex-direction: column;
  }

  .error {
    border: none;
  }

  .err-msg {
    text-align: center;
  }
}
