@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --lightgrey: rgb(199, 199, 199);
  --midgrey: rgb(141, 141, 141);
  --darkgrey: rgb(80, 80, 80);
  --mainfont: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: var(--mainfont);
}

.darkgrey {
  color: var(--darkgrey);
}

/* Nav */
.nav {
  border-bottom: 1px solid var(--lightgrey);
  padding: 10px 20px;
}

.nav a {
  text-decoration: none;
}

.navlogo {
  border-right: 1px solid var(--lightgrey);
  color: var(--midgrey);
  font-size: 1.5em;
  padding: 0 20px;
}

.navlinks {
  font-size: 1.5em;
  padding-left: 20px;
}

.active {
  color: var(--darkgrey);
}

.not-active {
  color: var(--lightgrey);
}

/* Search Bar */
.searchbar-holder {
  margin: 5% auto;
  width: 70%;
}

.searchbar {
  border: none;
  border-bottom: 1px solid var(--lightgrey);
  color: var(--darkgrey);
  font-size: 2em;
  width: 100%;
}

.searchbar:focus {
  outline: none;
}

::placeholder {
  color: var(--lightgrey);
  font-family: var(--mainfont);
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.eachimage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 1%;
  width: 23%;
}

@media only screen and (max-width: 1000px) {
  .eachimage {
    height: 300px;
    margin: 2%;
    width: 45%;
  }
}

@media only screen and (max-width: 650px) {
  .eachimage {
    height: 300px;
    margin: 2% auto;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .eachimage {
    height: 300px;
    margin: 2% auto;
    width: 95%;
  }
}
